<header>
    <svg version="1.1" id="Layer_1" x="0px" y="0px"
     viewBox="0 0 320 35" enable-background="new 0 0 320 35" xml:space="preserve">
        <path class="header-top-bend" d="M0,35C0,35,138.8,7.7,160,7.7S320,35,320,35V0H0V35z"/>
    </svg>
    <a href="../">
      <img src="img/logo-white.png" class="top-logo on-top" />
    </a>
    <a class="primary-nav-trigger on-top" href="#0">
      <span class="menu-text">Menu</span><span class="menu-icon"></span>
    </a>
</header>

<nav>
  <ul class="primary-nav">

    <li><a href="../">Home</a></li>
    <li><a href="/eu_guide">The EU - An Overview</a></li>

    <br>

    <li class="label">Topics</li>

    {% for page in site.pages %}
      {% if page.layout == 'overview' %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
